body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav{
  display: grid;
  grid-template-columns: repeat(2, 150px);
  list-style-type: none;
}

.logo{
  width: 50px
}

.nav:hover{
  color: white;
  text-decoration: none;
}

.Header{
  display: grid;
  grid-template-columns: 150px 60px 150px;
}

.App{
  background: black;
  color: white;
  min-height: 100vh;
}

.color-nav{
  background-color: rgb(117, 42, 42);
}

table {
  text-align: left;
  position: relative;
  /* border: white; */
  border-spacing: 10px;
  /* border-collapse: separate; */
}

th {
  background: black;
  position: sticky;
  top: 0;
  padding: 10px;
}

tr:hover {
  background-color: rgb(117, 42, 42);
}

.ls-button:hover {
  background-color: rgb(73, 24, 24);
}

.ls-button{
  color: white;
  font-family: monospace;
  font-size: 100px;
  padding: 14px 28px;
  background: rgb(117, 42, 42);
  /* border: yellow; */
  border-right-width: 3px;
  border-right-color: black;

}